.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  padding: 25px;
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 12px;
}

.modal-box h3 {
  margin-bottom: 15px;
  color: #006400;
  font-size: 20px;
  text-align: center;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  font-size: 14px;
  align-items: center;
}

.details-grid .full-width {
  grid-column: span 2;
}

.details-grid input,
.details-grid select {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.payslip-img {
  margin-top: 8px;
  max-height: 350px;
  max-width: 100%;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.modal-actions {
  text-align: right;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-close,
.btn-save {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-close {
  background-color: #640000;
  color: white;
}

.btn-save {
  background-color: #006400; /* Orange */
  color: white;
}

@media screen and (max-width: 640px) {
  .modal-box {
    width: 90%;
    padding: 20px;
  }

  .details-grid {
    grid-template-columns: 1fr;
  }

  .details-grid .full-width {
    grid-column: span 1;
  }
}
